{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "extensions": [".ts", ".tsx", ".jsx", ".js", ".json"],
        "alias": {
          "components": ["./src/components"],
          "hooks": ["./src/hooks"],
          "models": ["./src/models"],
          "utils": ["./src/utils"],
          "constants": ["./src/constants"],
          "src": ["./src"]
        },
        "presets": ["module:metro-react-native-babel-preset"]
      }
    ]
  ]
}
